pyttsx3==2.91
# The current version 2.99 has a bug on Windows, where only the first utterance is audible, but the ones after that are not.
# https://github.com/nateshmbhat/pyttsx3/issues/419

mediapipe==0.10.21
msgpack==1.1.2
numpy==1.26.4
opencv-python==4.11.0.86
pupil-detectors==2.0.2
pyautogui==0.9.54
pye3d==0.3.2
python-osc==1.9.3
screeninfo==0.8.1
zmq==0.0.0
